@{
  Layout = "_Layout";
}

<h1>Welcome to the Recipe Box!</h1>

@Html.ActionLink("See all Categories", "Index", "Categories")
@Html.ActionLink("See all Recipes", "Index", "Recipes")
@Html.ActionLink("Create an account", "Index", "Account")
